{% extends 'base.html' %}



{% block content %}

    <div class="hero-wrap js-fullheight">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center">
                <div class="col-lg-10 ftco-animate d-flex align-items-center">
                    <div class="text text-center">
                        <h1 class="mb-3 bread">Blog Post</h1>
                        <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'main:home' %}">Home <i
                                class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="#">Blog <i
                                class="ion-ios-arrow-forward"></i></a></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <section class="ftco-section" id="blog-section">
        <div class="container">
            <div class="row d-flex">
                {% for article in articles %}
                    <div class="col-md-4 d-flex ftco-animate">
                        <div class="blog-entry justify-content-end">
                            <a href="{% url 'article:detail' article.slug %}" class="block-20"
                               style="background-image: url({{ article.image.url }});">
                            </a>
                            <div class="text mt-3 float-right d-block">
                                <h3 class="heading"><a
                                        href="{% url 'article:detail' article.slug %}">{{ article.title|slice:60 }}</a>
                                </h3>
                                <div class="d-flex align-items-center mb-3 meta">
                                    <p class="mb-0">
                                        <span class="mr-2">{{ article.created_date|date:"b d Y" }}</span>
                                        <a href="#" class="mr-2">{{ article.author }}</a>
                                        <a href="#" class="meta-chat"><span
                                                class="icon-chat"></span> {{ article.comments.count }}</a>
                                    </p>
                                </div>
                                <p>  {{ article.top_content|safe|slice:'40' }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="text-center">
                {% include 'paginator.html' %}
            </div>
        </div>
    </section>

    {#    <section class="ftco-section">#}
    {#        <div class="container">#}
    {#            <div class="row">#}
    {#                <div class="col-lg-8 ftco-animate">#}
    {#                    <div class="row d-flex">#}
    {#                        {% for article in articles %}#}
    {#                            <div class="col-md-4 d-flex ftco-animate">#}
    {#                                <div class="blog-entry justify-content-end">#}
    {#                                    <a href="{% url 'article:detail' article.slug %}" class="block-20"#}
    {#                                       style="background-image: url({{ article.image.url }});">#}
    {#                                    </a>#}
    {#                                    <div class="text mt-3 float-right d-block">#}
    {#                                        <h3 class="heading"><a#}
    {#                                                href="{% url 'article:detail' article.slug %}">{{ article.title|slice:10 }}</a>#}
    {#                                        </h3>#}
    {#                                        <div class="d-flex align-items-center mb-3 meta">#}
    {#                                            <p class="mb-0">#}
    {#                                                <span class="mr-2">{{ article.created_date|date:"b d Y" }}</span>#}
    {#                                                <a href="#" class="mr-2">{{ article.author }}</a>#}
    {#                                                <a href="#" class="meta-chat"><span#}
    {#                                                        class="icon-chat"></span> {{ article.comments.count }}</a>#}
    {#                                            </p>#}
    {#                                        </div>#}
    {#                                        <p>  {{ article.top_content|safe|slice:'10' }}</p>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        {% endfor %}#}
    {#                    </div>#}
    {#                </div>#}
    {##}
    {#                <div class="col-lg-4 sidebar ftco-animate">#}
    {#                    <div class="sidebar-box">#}
    {#                        <form class="search-form">#}
    {#                            <div class="form-group">#}
    {#                                <span class="icon icon-search"></span>#}
    {#                                <input name="q" type="text" class="form-control" placeholder="Search...">#}
    {#                            </div>#}
    {#                        </form>#}
    {#                    </div>#}
    {#                    <div class="sidebar-box ftco-animate">#}
    {#                        <h3 class="heading-sidebar">Categories</h3>#}
    {#                        <ul class="categories">#}
    {#                            {% for category in categories %}#}
    {#                                <li><a href="{% url 'article:list' %}?cat={{ category }}">{{ category }}#}
    {#                                    <span>({{ category.articles.count }})</span></a></li>#}
    {#                            {% endfor %}#}
    {##}
    {#                        </ul>#}
    {#                    </div>#}
    {#                    <div class="sidebar-box ftco-animate">#}
    {#                        <h3 class="heading-sidebar">Recent Blog</h3>#}
    {#                        {% for article in articles3 %}#}
    {#                            <div class="block-21 mb-4 d-flex">#}
    {#                                <a class="blog-img mr-4" style="background-image: url({{ article.image.url }});"></a>#}
    {#                                <div class="text">#}
    {#                                    <h3 class="heading"><a#}
    {#                                            href="{% url 'article:detail' article.slug %}">{{ article.title|slice:40 }}</a>#}
    {#                                    </h3>#}
    {#                                    <div class="meta">#}
    {#                                        <div><a href="#"><span#}
    {#                                                class="icon-calendar"></span> {{ article.created_date|date:'b d Y' }}#}
    {#                                        </a></div>#}
    {#                                        <div><a href="#"><span class="icon-person"></span> {{ article.author }}</a>#}
    {#                                        </div>#}
    {#                                        <div><a href="#"><span class="icon-chat"></span> {{ article.comments.count }}#}
    {#                                        </a></div>#}
    {#                                    </div>#}
    {#                                </div>#}
    {#                            </div>#}
    {#                        {% endfor %}#}
    {##}
    {#                    </div>#}
    {#                    <div class="sidebar-box ftco-animate">#}
    {#                        <h3 class="heading-sidebar">Tag Cloud</h3>#}
    {#                        <div class="tagcloud">#}
    {#                            {% for tag in tags %}#}
    {#                                <a href="{% url 'article:list' %}?tag={{ tag }}"#}
    {#                                   class="tag-cloud-link btn-primary">{{ tag }}</a>#}
    {#                            {% endfor %}#}
    {##}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </section>#}


{% endblock %}